.contactpage{
    padding: 80px 7%;
}
.contactpage-inner{
    margin-top: 40px;
}
.cpage-info{
    padding: 20px 40px;
    border: 1px solid var(--dark);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.c-info{
    margin: 20px 0;
    color: var(--fontlighter);
}
.c-info p{
    /* margin-left: 10px; */
    color: var(--fontlight);
}
.c-info i span{
    text-transform: uppercase;
    font-size: 16px;
    margin-left: 10px;
    font-family: 'Saira',sans-serif;
    font-weight: 500 !important;
}